@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 64px;
    margin: 0 auto;
    flex-direction: column;
}

.input_field {
    display: flex;
    outline: none;
    border-radius: 5px;
    padding: 10px 10px;
    min-width: 500px;
    border: 1px solid rgb(8, 131, 231);
}

.form_debt {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.sing-up {
    display: flex;
    font-size: 32px;
    font-weight: 600;
    color: rgb(8, 131, 231);
    justify-content: center;
}

.btn-signup {
    display: flex;
    min-width: 500px;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid rgb(8, 131, 231);
    text-decoration: none;
    color: rgb(8, 131, 231);
    font-size: 16px;
}

.btn-signup:hover{
    background-color: rgb(8, 131, 231);;
    color: white;
}

.back__btn {
    display: flex;
    color: rgb(8, 131, 231);
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
}

.back__p{
    display: flex;
    justify-content: center;
}