@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 35px;
    display: flex;
    margin: 10px;
}

.block_btn {
    display: flex;
}

.back_btn-1 {
    text-decoration: none;
    color: rgb(13, 110, 253);
    border: 1px solid rgb(13, 110, 253);
    padding: 10px 15px;
    border-radius: 5px;
    background: white;
}

.back_btn-1:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

.back_btn {
    text-decoration: none;
    color: rgb(13, 110, 253);
    border: 1px solid rgb(13, 110, 253);
    padding: 10px 15px;
    border-radius: 15px;
}

.back_btn:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

.text_prompt {
    display: flex;
    justify-content: center;
    color: rgb(22, 84, 151);
}

.form-file{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.custom-file-upload {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}