@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    gap: 128px;
    margin: 0 auto;
    flex-direction: column;
}

.logo {
    display: flex;
    padding: 22.5px 64px 22.5px 64px;
}

.sign-up_block {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.sing-up {
    display: flex;
    font-size: 48px;
    font-weight: 600;
    justify-content: center;
}

.sing-up-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.gap_space {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    padding: 0 32px;
}

.input_block {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.input_field {
    border: 1px solid black;
    display: flex;
    outline: none;
    width: 480px;
    height: 48px;
}

.justify_input {
    display: flex;
    justify-content: center;
}



.btn-signup {
    display: flex;
    width: 485px;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.line {
    display: flex;
    border-bottom: 1px solid black;
    width: 485px;
}

.googl_sing {
    display: flex;
    border: 1px solid black;
    width: 480px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.googl_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: black;
    text-decoration: none;
}

.separation {
    display: flex;

}

.end_block {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.log_in {
    color: black;
}

.img_end {
    display: flex;
}

.footer {
    display: flex;
    font-size: 16px;
}